{{!< layout}}

<!-- the Javascript file js/addon.js is imported in the layout -->
<!-- It contains functions which execute actions for buttons/links in this page -->

<section class="aui-connect-page aui-connect-page-focused" role="main">
  <section class="aui-connect-content">
    <div class="aui-connect-content-inner">
      <img src="/img/logo.png">
      <h1>Successfully logged in</h1>
      <br />
      <div id="logout-button"></div>
    </div>
  </section>
</section>

<script>window.ROLLBAR_CLIENT_TOKEN = {{{ROLLBAR_CLIENT_TOKEN}}};</script>
<script src="/js/bundle.js"></script>
