{{!< layout}}
<div class="aui-group">
  <div class="aui-item">
    <h3>Here's your config page. Now get to work!</h3>
    <form method="post">
      <div>
        <label>
          Username
          <input>
        </label>
        <label>
          Access Key
          <input>
        </label>
      </div>
      <div>
        <button type="submit">Save</button>
    </form>
  </div>
</div>
<script>
  HipChat.auth.withToken(function(err, token) {
    if (err) {
      // error
    } else {
      $.ajax({
        type: 'GET',
        url: '/data',
        headers: { 'Authorization': 'JWT ' + token },
      });
    }
  });
</script>
