{{!< layout}}

<div id="dialog-screenshots" data-job="{{json job true}}" data-screenshots="{{json assets.screenshots true}}" data-hostname="{{hostname}}" data-auth="{{auth}}"></div>
<script src="/js/bundle.js"></script>
