{{!< layout}}

<!-- the Javascript file js/addon.js is imported in the layout -->
<!-- It contains functions which execute actions for buttons/links in this page -->
<style>
.sauce-job-status {

}
.sauce-job-status svg { max-width:100%; }
.sauce-job-status-complete { width: 12px !important; height: 12px !important; }
.sauce-job-status-error { fill: #f68d38; }
.sauce-job-status-failed { fill: #ec4047; }
.sauce-job-status-passed { fill: #6acc00; }
</style>

<section class="aui-connect-page" role="main">
  <div id="sidebar-jobs" data-jobs="{{json jobs true}}" data-hostname="{{hostname}}"></div>
</section>
<div id="sauce-footer"></div>
<script>window.ROLLBAR_CLIENT_TOKEN = {{{ROLLBAR_CLIENT_TOKEN}}};</script>
<script src="/js/bundle.js"></script>
